body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.users-container li {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.furby-image {
  max-width: 85vw;
}

.furby-image-small {
  max-width: 15vw;
  margin-top: 3rem;
}

.furby-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
}

.furby-container article {
  margin-top: 22px;
}

.furby-container article p {
  font-size: 2rem;
  font-weight: bold;
}

.furby-container a {
  text-decoration: none;
  color: black;
}

.furby-container a:hover {
  text-decoration: underline;
  color: black;
}

a.edit-link {
  color: blue;
  text-decoration: underline;
}

.furby-profile-info {
  padding-top: 28px;
}

.owner-info {
  color: green;
}

form.edit-furby {
  margin-top: 2rem;
  font-size: 3rem;
}

.users-same-furby-button {
  display: inline-block;
  border: 2px solid black;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #64C0E9;
}

.users-same-furby-button:hover {
  background-color: #BDEAF8;
  text-decoration: none !important;
}

.furby-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.furby-buttons-container a,
.furby-buttons-container button {
  width: 45%;
}

.users-with-furby-container {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.users-with-furby-container a {
  margin-top: 3rem;
  font-size: 3rem;
}

.validation-error {
  color: red;
}
