body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.users-container li {
  display: flex;
  justify-content: space-around;
}

.furby-image {
  max-width: 85vw;
}

.furby-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
}

.furby-container article {
  margin-top: 22px;
}

.furby-container article p {
  font-size: 2rem;
  font-weight: bold;
}

.furby-container a {
  text-decoration: none;
  color: black;
}

.furby-container a:hover {
  text-decoration: underline;
  color: black;
}

a.edit-link {
  color: blue;
  text-decoration: underline;
}

.furby-profile-info {
  padding-top: 28px;
}

.owner-info {
  color: green;
}

form.edit-furby {
  margin-top: 2rem;
  font-size: 3rem;
}
