body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.furby-image {
  max-width: 85vw;
}

.furby-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
}

.furby-container article {
  margin-top: 22px;
}

.furby-container article p {
  font-size: 2rem;
  font-weight: bold;
}
